.varela-todo-list {
    box-sizing: border-box;
    
    & * {
        box-sizing: border-box;
    }

    & .action-bar {
        display: flex;
        
        & > * {
            font-size: 1.25rem;
            padding: .5em;
        } 

        & > *:hover {
            background-color: red;
        }

        & input {
            flex-grow: 1;
            outline: none;
        }
    }

    & .list {
        border: 1px solid;  

        & > div {
            padding: .5em;
            display: flex;

            & > * {
                font-size: 1.4rem;
            } 

            /* & > input:checked ~ span {
                text-decoration: line-through;
            }    */

            & > span {
                flex-grow: 1;
            }
        }

        & > div.checked {
            background-color: red;
            text-decoration: line-through;
        }
    }
}